@import '~node_modules/modern-normalize/modern-normalize.css';
img {
  display: block;
  max-width: 100%;
}
input,
button {
  padding: 5px;
  border-radius: 4px;
}
.serch-bar {
  position: sticky;
  top: 0;
}
.container {
  background-color: cornflowerblue;
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
}
.search-form {
  display: block;
}
.load-more {
  display: block;
  margin: 0 auto;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.info {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-around;
  font-family: inherit;
  font-weight: 500;
}
.load-more {
  background-color: cornflowerblue;

  border-color: 1px solid black;
}
.load-more.hidden {
  display: none;
}
